name: Telegram Video Queue Downloader

on:
  workflow_dispatch:
  schedule:
    - cron: "0 10 * * *"
    - cron: "0 14 * * *"
    - cron: "0 19 * * *"

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run Telegram queue downloader
        run: python telegram_download.py
